<!doctype html>

<html lang="en">
<!-- Head -->
<head th:replace="snippets.html :: name_head"></head>

<body>
	<!-- Navigation bar -->
	<nav th:replace="snippets.html :: name_app_navbar"></nav>
	<!-- Container Start -->
	<div class="container">
		<!-- Catalog -->
		<div th:replace="snippets.html :: name_catalog"></div>
		<!-- Brand -->
		<div th:replace="snippets.html :: name_brand"></div>
		<!-- Product -->
		<div th:replace="snippets.html :: name_product"></div>
		<!-- Inventory -->
		<div th:replace="snippets.html :: name_inventory"></div>
		<!-- Order -->
		<div th:replace="snippets.html :: name_order"></div>
		<!-- OrderItem -->
		<div th:replace="snippets.html :: name_orderitem"></div>

	</div> <!-- Container end-->
	<!-- Footer -->
	<footer th:replace="snippets.html :: name_footer"></footer>
	<!-- Js Files -->
	<script th:src="@{/static/catalog.js}"/></script>
	<script th:src="@{/static/brand.js}"/></script>
	<script th:src="@{/static/product.js}"/></script>
	<script th:src="@{/static/inventory.js}"/></script>
	<script th:src="@{/static/order.js}"/></script>
	<script th:src="@{/static/order_item.js}"/></script>
</body>	
</html>