<!doctype html>

<html lang="en">
<!-- Head -->
<head th:replace="snippets.html :: name_head"></head>

<body>
  <!-- Navigation bar -->
  <nav th:replace="snippets.html :: name_app_navbar"></nav>
  <!-- Container start -->
  <div class="container">
<div class=row>
  &nbsp;
</div>
    <h3>Admin</h3>

 <!-- Top row with form-->
<div class="row">
   <div class="col-1">
    <a th:href="@{/ui/admin/order}" title="Order"> <i class="fa fa-cart-plus fa-3x"></i> </a>
   </div> 
   <div class="col-1">
    <a th:href="@{/ui/admin/salesreport}" title="Sales Report"> <i class="fa fa-money fa-3x"></i> </a>
   </div> 
   <div class="col-1">
    <a th:href="@{/ui/admin/user}" title="Users"> <i class="fa fa-users fa-3x"></i> </a>
   </div>
</div> 

</div> <!-- Container end-->
<!-- Footer -->
<footer th:replace="snippets.html :: name_footer"></footer>



</body>	

</html>