<!doctype html>

<html lang="en">
<!-- Head -->
<head th:replace="snippets.html :: name_head"></head>

<body>
  <!-- Navigation bar -->
  <nav th:replace="snippets.html :: name_app_navbar"></nav>
  <!-- Container start -->
  <div class="container">
<div class="row">
  &nbsp;
</div>

 <!-- Top row with form-->
<div class="row">
   <div class="col-2">
    <center><a href="/pos/ui/admin/order" title="Order"> <i class="fa fa-cart-plus fa-4x" aria-hidden="true"></i> </a></center>
   </div> 
   <div class="col-2">
   <center> <a href="/pos/ui/admin/sales-report" title="Sales Report"> <i class="fa fa-money fa-4x" aria-hidden="true"></i> </a></center>
   </div> 
   <div class="col-2">
   <center> <a href="/pos/ui/admin/user" title="Users"> <i class="fa fa-users fa-4x" aria-hidden="true"></i> </a></center>
   </div>
</div> 
<div class="row">
&nbsp;
  </div>
<div class="row">
   <div class="col-2">
    <center><h5>Order</h5></center>
   </div>
   <div class="col-2">
    <center><h5>Sales Report</h5></center>
   </div> 
   <div class="col-2">
    <center><h5>Users</h5></center>
   </div>
</div> 
 



</div> <!-- Container end-->
<!-- Footer -->
<footer th:replace="snippets.html :: name_footer"></footer>



</body>	

</html>