<!doctype html>

<html lang="en">
<!-- Head -->
<head th:replace="snippets.html :: name_head"></head>

<body>
	<!-- Navigation bar -->
	<nav th:replace="snippets.html :: name_site_navbar"></nav>
	<!-- Container start -->
	<div class="container">
		<!-- Row -->
		<div class="row">
			<div class="col-6">
				<!-- Jumbotron start -->
				<div class="jumbotron">
					<h1 class="display-4">PoS Application</h1>
					<p class="lead">Welcome to Increff PoS</p>
					<hr class="my-4">
					<p>This application will be used to create and edit customer orders. It also contains catelog, reports and users section which can only be accessible by admin.</p>
					<a class="btn btn-outline-primary btn-lg" th:href="@{/site/login}" role="button">Get Started</a>
				</div>
				<!-- Jumbotron end -->
			</div>
			<!-- Row -->
		</div> 
		<!-- Col -->
	</div> 
	<!-- Container end -->
	<!-- Footer -->
	<footer th:replace="snippets.html :: name_footer"></footer>

</body>

</html>
