<!doctype html>

<html lang="en">
<!-- Head -->
<head th:replace="snippets.html :: name_head"></head>

<body>
	<!-- Navigation bar -->
	<nav th:replace="snippets.html :: name_app_navbar"></nav>
	<!-- Container Start -->
	<div class="container">
		<!-- Product -->
		<div th:replace="snippets.html :: name_product"></div>
	</div> <!-- Container end-->
	<!-- Footer -->
	<footer th:replace="snippets.html :: name_footer"></footer>
	<!-- Js Files -->
	<script th:src="@{/static/product.js}"/></script>
</body>	
</html>