  <!-- Head fragment -->
  <head th:fragment="name_head">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="baseUrl" th:attr="content=${baseUrl}">
    <script src="https://kit.fontawesome.com/f99bf6c8a8.js" crossorigin="anonymous"></script>
    <!-- CSS files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/static/app.css}">

  </head>
  <!-- Navigation bar fragment -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-1" th:fragment="name_site_navbar">
    <!-- image -->
    <a class="navbar-brand" th:href="@{/}">
      <img th:src="@{/static/logo.jpg}" class="d-inline-block align-top" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- List -->
      <ul class="navbar-nav ml-auto">
       <li class="nav-item">
        <a class="btn btn-primary" th:href="@{/site/login}">Login</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Navigation bar fragment after login -->
<nav class="navbar navbar-expand-lg navbar-light bg-light  mb-1" th:fragment="name_app_navbar">
  <a class="navbar-brand" th:href="@{/}">
    <img th:src="@{/static/logo.jpg}" class="d-inline-block align-top" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" style="font-size: 18px">
    <!-- List of navigations -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/ui/home}">Home</a>
      </li>
      
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Catelog
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" th:href="@{/ui/admin/brand}">Brand</a>
          <a class="dropdown-item" th:href="@{/ui/admin/product}">Product</a>
          <a class="dropdown-item" th:href="@{/ui/admin/inventory}">Inventory</a>
          <a class="dropdown-item" th:href="@{/ui/admin/order}">Order</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Reports
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" th:href="@{/ui/admin/sales-report}">Sales Report</a>
          <a class="dropdown-item" th:href="@{/ui/admin/brand-report}">Brand Report</a>
          <a class="dropdown-item" th:href="@{/ui/admin/inventory-report}">Inventory Report</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/ui/admin/user}">Users</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <!-- get login email from java -->
      <li class="navbar-text">
        [[${info.getEmail()}]]
        &nbsp;&gt;&nbsp;
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/session/logout}">Logout</a>
      </li>
    </ul>


  </div>
</nav>

<!-- User fragment -->
<div th:fragment="name_user">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: white;padding-left: 0px;padding-bottom: 10px;margin-bottom: 5px;font-size:20px">
      <li class="breadcrumb-item">Admin</a></li>
      <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
  </nav>
  <!-- Top row with form-->
  <div class="row">

    <!-- User form -->
    <form class="form-inline w-100" id="user-form" autocomplete="off">
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            <label for="inputEmail" class="control-label">Email</label>
          </div>
          <div class="col-2">
            <label for="inputRole" class="control-label">Role</label>
          </div>
        </div>
      </div>
      <div class="col-12" style="margin-top: 5px">
        <div class="row">
          <div class="col-2">
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Enter Email" style="width:90%">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <select class="form-control" id="inputRole" name="role" style="width:90%"> 
                <option value="">Select Role</option>
                <option value="admin">Admin</option>
                <option value="standard">Standard</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <button type="button" class="btn btn-outline-info" id="search-user">Search</button>
              &nbsp;&nbsp;
              <button type="button" class="btn btn-outline-primary" id="show-add-user-modal">Add</button>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>


  <!-- Blank Row -->
  <div class="row">
    &nbsp;
  </div>
  <div class="row">

    <!-- Table -->
    <div class="col-12">
      <table class="table table-striped" id="user-table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

    </div>
  </div>

  <!-- Blank Row -->
  <div class="row">
    &nbsp;
  </div>
  <!-- Blank Row -->
  <div class="row">
    &nbsp;
  </div>


  <!-- Add user modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="add-user-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- User add form -->
        <form  id="user-add-form" onsubmit="return addUser()"  autocomplete="off">
          <div class="modal-body">

            <div class="form-group row">
              <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-6">
                <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Enter Email" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="password" id="inputPassword" placeholder="Enter Password" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputRole" class="col-sm-2 col-form-label">Role</label>
              <div class="col-sm-6">
                <select class="form-control" id="inputRole" name="role" required> 
                  <option value="">Select Role</option>
                  <option value="admin">Admin</option>
                  <option value="standard">Standard</option>
                </select>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="add-user">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Edit user modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="edit-user-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- User edit form -->
        <form  id="user-edit-form" onsubmit="return updateUser()"  autocomplete="off">
          <div class="modal-body">

            <div class="form-group row">
              <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-6">
                <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Enter Email" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputRole" class="col-sm-2 col-form-label">Role</label>
              <div class="col-sm-6">
                <select class="form-control" id="inputRole" name="role" required> 
                  <option value="">Select Role</option>
                  <option value="admin">Admin</option>
                  <option value="standard">Standard</option>
                </select>
              </div>
            </div>
            <!-- Hidden id -->
            <input type="hidden" name="id" >

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="update-user">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>


<!-- Brand fragment -->
<div th:fragment="name_brand" id="brand">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: white;padding-left: 0px;padding-bottom: 10px;margin-bottom: 5px;font-size:20px">
      <li class="breadcrumb-item">Catelog</a></li>
      <li class="breadcrumb-item active" aria-current="page">Brand</li>
    </ol>
  </nav>
  <!-- Top row with form-->
  <div class="row">
    <!-- Brand form -->



    <form class="form-inline w-100" id="brand-form"  autocomplete="off">
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            <label for="inputBrand" class="control-label">Brand</label>
          </div>
          <div class="col-2">
            <label for="inputCategory" class="control-label">Category</label>
          </div>
        </div>
      </div>
      <div class="col-12" style="margin-top: 5px">
        <div class="row">
          <div class="col-2">
            <div class="form-group">
              <input type="text" class="form-control" name="brand" id="inputBrand" placeholder="Enter Brand" style="width:90%">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <input type="text" class="form-control" name="category" id="inputCategory" placeholder="Enter Category" style="width:90%">
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
             <button type="button" class="btn btn-outline-info" id="search-brand">Search</button>
             &nbsp;&nbsp;
             <button type="button" class="btn btn-outline-primary" id="show-add-brand-modal">Add</button>
             &nbsp;&nbsp;
             <button type="button" class="btn btn-outline-success" id="upload-brand-data">Upload</button>
           </div>
         </div>
       </div>
     </div>
   </form>
 </div> 


 <!-- Blank Row -->
 <div class="row">
  &nbsp;
</div>
<div class="row">

  <!-- Table -->
  <div class="col-12">
    <table class="table table-striped" id="brand-table">
      <thead>
        <tr>
          <th scope="col">Brand</th>
          <th scope="col">Category</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>

<!-- Add Brand Modal -->
<div 
class="modal fade" tabindex="-1" role="dialog" id="add-brand-modal">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add Brand</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Brand add form  -->
    <form  id="brand-add-form" onsubmit="return addBrand()"  autocomplete="off">
      <div class="modal-body">


        <div class="form-group row">
          <label for="inputBrand" class="col-sm-2 col-form-label">Brand</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="brand" placeholder="Enter Brand" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="category" placeholder="Enter Category" required>
          </div>
        </div>
        <!-- Hidden id -->
        <input type="hidden" name="id" >

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" id="add-brand">Add</button>
      </div>
    </form>
  </div>
</div>
</div>


<!-- Edit Brand Modal -->
<div 
class="modal fade" tabindex="-1" role="dialog" id="edit-brand-modal">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Edit Brand</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Brand edit form  -->
    <form  id="brand-edit-form" onsubmit="return updateBrand()"  autocomplete="off">
      <div class="modal-body">


        <div class="form-group row">
          <label for="inputBrand" class="col-sm-2 col-form-label">Brand</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="brand" placeholder="Enter Brand" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="category" placeholder="Enter Category" required>
          </div>
        </div>
        <!-- Hidden id -->
        <input type="hidden" name="id" >

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" id="update-brand">Update</button>
      </div>
    </form>
  </div>
</div>
</div>

<!-- Upload Brand Model -->
<div class="modal fade" tabindex="-1" role="dialog" id="upload-brand-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Upload Brand</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" style="margin:2px;">
        <div class="brand-file">
          <input type="file" class="custom-file-input" id="brandFile">
          <label class="custom-file-label" for="brandFile" id="brandFileName">Choose file</label>
        </div>
        <a th:href="@{/sample/brand.tsv}" target="_blank">Download Sample</a> 
        <br>
        <!-- file rows data progress -->
        Rows: <span id="rowCountBrand">0</span>, 
        Processed: <span id="processCountBrand">0</span>, 
        Errors: <span id="errorCountBrand">0</span>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="process-data-brand">Upload</button>
        <button type="button" class="btn btn-warning" id="download-errors-brand">Download Errors</button>
      </div>
    </div>
  </div>
</div>

</div>

<!-- Product fragment -->
<div th:fragment="name_product" id="product">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: white;padding-left: 0px;padding-bottom: 10px;margin-bottom: 5px;font-size:20px">
      <li class="breadcrumb-item">Catelog</a></li>
      <li class="breadcrumb-item active" aria-current="page">Product</li>
    </ol>
  </nav>
  <!-- Top row with form-->
  <div class="row">
    <!-- Product form -->
    <form class="form-inline w-100" id="product-form"  autocomplete="off">
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            <label for="inputName" class="control-label">Name</label>
          </div>
          <div class="col-2">
            <label for="inputBarcode" class="control-label">Barcode</label>
          </div>
          <div class="col-2">
            <label for="inputBrand" class="control-label">Brand</label>
          </div>
          <div class="col-2">
            <label for="inputCategory" class="control-label">Category</label>
          </div>
        </div>
      </div>
      <div class="col-12" style="margin-top: 5px">
        <div class="row">
          <div class="col-2">
            <div class="form-group">
              <input type="text" class="form-control" name="name" id="inputName" placeholder="Enter Name" style="width:90%">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="Enter Barcode" style="width:90%">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <input type="text" class="form-control" name="brand" id="inputBrand" placeholder="Enter Brand" style="width:90%">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <input type="text" class="form-control" name="category" id="inputCategory" placeholder="Enter Category" style="width:90%">
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
             <button type="button" class="btn btn-outline-info" id="search-product">Search</button>
             &nbsp;&nbsp;
             <button type="button" class="btn btn-outline-primary" id="show-add-product-modal">Add</button>
             &nbsp;&nbsp;
             <button type="button" class="btn btn-outline-success" id="upload-product-data">Upload</button>
           </div>
         </div>
       </div>
     </div>
   </form>

 </div> 


 <!-- Blank Row -->
 <div class="row">
  &nbsp;
</div>
<div class="row">

  <!-- Table -->
  <div class="col-12">
    <table class="table table-striped" id="product-table">
      <thead>
        <tr>
          <th scope="col">Barcode</th>
          <th scope="col">Brand</th>
          <th scope="col">Category</th>
          <th scope="col">Product Name</th>
          <th scope="col">MRP</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </div>
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>


<!-- Add Product Model -->
<div 
class="modal fade" tabindex="-1" role="dialog" id="add-product-modal">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add Product</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Product add form -->
    <form  id="product-add-form" onsubmit="return addProduct()" autocomplete="off">
      <div class="modal-body">

        <div class="form-group row">
          <label for="inputBrand" class="col-sm-2 col-form-label">Brand</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="brand" placeholder="Enter Brand" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="category" placeholder="Enter Category" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="name" placeholder="Enter Name" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputMrp" class="col-sm-2 col-form-label">MRP</label>
          <div class="col-sm-6">
            <input type="number" step="0.01" class="form-control" name="mrp" placeholder="Enter MRP" required>
          </div>
        </div>
        <input type="hidden" name="id" >       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" id="add-product">Add</button>
      </div>
    </form>
  </div>
</div>
</div>




<!-- Edit Product Model -->
<div 
class="modal fade" tabindex="-1" role="dialog" id="edit-product-modal">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Edit Product</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Product edit form -->
    <form  id="product-edit-form" onsubmit="return updateProduct()" autocomplete="off">
      <div class="modal-body">

        <div class="form-group row">
          <label for="inputBrand" class="col-sm-2 col-form-label">Brand</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="brand" placeholder="Enter Brand" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="category" placeholder="Enter Category" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="name" placeholder="Enter Name" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputMrp" class="col-sm-2 col-form-label">MRP</label>
          <div class="col-sm-6">
            <input type="number" step="0.01" class="form-control" name="mrp" placeholder="Enter MRP" required>
          </div>
        </div>
        <input type="hidden" name="id" >       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" id="update-product">Update</button>
      </div>
    </form>
  </div>
</div>
</div>

<!-- Upload Product Model -->
<div 
class="modal fade" tabindex="-1" role="dialog" id="upload-product-modal">
<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title">Upload Product</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body" style="margin:2px;">
      <div class="product-file">
        <input type="file" class="custom-file-input" id="productFile">
        <label class="custom-file-label" for="productFile" id="productFileName">Choose file</label>
      </div>
      <a th:href="@{/sample/product.tsv}" target="_blank">Download Sample</a> 
      <br>
      <!-- file rows data progress -->
      Rows: <span id="rowCountProduct">0</span>, 
      Processed: <span id="processCountProduct">0</span>, 
      Errors: <span id="errorCountProduct">0</span>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary" id="process-data-product">Upload</button>
      <button type="button" class="btn btn-warning" id="download-errors-product">Download Errors</button>
    </div>
  </div>
</div>
</div>


</div>

<!-- Inventory fragment -->
<div th:fragment="name_inventory" id="inventory">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: white;padding-left: 0px;padding-bottom: 10px;margin-bottom: 5px;font-size:20px">
      <li class="breadcrumb-item">Catelog</a></li>
      <li class="breadcrumb-item active" aria-current="page">Inventory</li>
    </ol>
  </nav>
  <!-- Top row with form-->
  <div class="row">
    <!-- Inventory form -->
    <form class="form-inline w-100" id="inventory-form" autocomplete="off">
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            <label for="inputName" class="control-label">Name</label>
          </div>
          <div class="col-2">
            <label for="inputBarcode" class="control-label">Barcode</label>
          </div>
        </div>
      </div>
      <div class="col-12" style="margin-top: 5px">
        <div class="row">
          <div class="col-2">
            <div class="form-group">
              <input type="text" class="form-control" name="name" id="inputName" placeholder="Enter Name" style="width:90%">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="Enter Barcode" style="width:90%">
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
             <button type="button" class="btn btn-outline-info" id="search-inventory">Search</button>
             &nbsp;&nbsp;
             <button type="button" class="btn btn-outline-primary" id="show-add-inventory-modal">Add</button>
             &nbsp;&nbsp;
             <button type="button" class="btn btn-outline-success" id="upload-inventory-data">Upload</button>
           </div>
         </div>
       </div>
     </div>
   </form>
 </div> 


 <!-- Blank Row -->
 <div class="row">
  &nbsp;
</div>
<div class="row">

  <!-- Table -->
  <div class="col-12">
    <table class="table table-striped" id="inventory-table">
      <thead>
        <tr>
          <th scope="col">Barcode</th>
          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </div>
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>

<!-- Add Inventory Model -->
<div 
class="modal fade" tabindex="-1" role="dialog" id="add-inventory-modal">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add Inventory</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Inventory add form -->
    <form  id="inventory-add-form" onsubmit="return addInventory()" autocomplete="off">
      <div class="modal-body">

        <div class="form-group row">
          <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="Enter Barcode" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
          <div class="col-sm-6">
            <input type="number" class="form-control" name="quantity" id="inputQuantity" placeholder="Enter Quantity" required>
          </div>
        </div>
        <input type="hidden" name="id" >

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" id="add-inventory">Add</button>
      </div>
    </form>
  </div>
</div>
</div>


<!-- Edit Inventory Model -->
<div 
class="modal fade" tabindex="-1" role="dialog" id="edit-inventory-modal">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Edit Inventory</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Inventory edit form -->
    <form  id="inventory-edit-form" onsubmit="return updateInventory()" autocomplete="off">
      <div class="modal-body">

        <div class="form-group row">
          <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="Enter Barcode" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
          <div class="col-sm-6">
            <input type="number" class="form-control" name="quantity" id="inputQuantity" placeholder="Enter Quantity" required>
          </div>
        </div>
        <input type="hidden" name="id" >

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" id="update-inventory">Update</button>
      </div>
    </form>
  </div>
</div>
</div>

<!-- Upload Inventory Model -->
<div 
class="modal fade" tabindex="-1" role="dialog" id="upload-inventory-modal">
<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title">Upload Inventory</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body" style="margin:2px;">
      <div class="inventory-file">
        <input type="file" class="custom-file-input" id="inventoryFile">
        <label class="custom-file-label" for="inventoryFile" id="inventoryFileName">Choose file</label>
      </div>
      <a th:href="@{/sample/inventory.tsv}" target="_blank">Download Sample</a> 
      <br>
      <!-- file rows data progress -->
      Rows: <span id="rowCountInventory">0</span>, 
      Processed: <span id="processCountInventory">0</span>, 
      Errors: <span id="errorCountInventory">0</span>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary" id="process-data-inventory">Upload</button>
      <button type="button" class="btn btn-warning" id="download-errors-inventory">Download Errors</button>
    </div>
  </div>
</div>
</div>

</div>

<!-- Order fragment -->
<div th:fragment="name_order" id="order">
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: white;padding-left: 0px;padding-bottom: 10px;margin-bottom: 5px;font-size:20px">
      <li class="breadcrumb-item">Catelog</a></li>
      <li class="breadcrumb-item active" aria-current="page">Order</li>
    </ol>
  </nav>

  <!-- Top row with form-->
  <div class="row">
    <!-- Order form -->
    <form class="form-inline w-100" id="order-form" autocomplete="off">
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            <label for="inputStartDate" class="control-label">Start Date</label>
          </div>
          <div class="col-2">
            <label for="inputEndDate" class="control-label">End Date</label>
          </div>
          <div class="col-2">
            <label for="orderId" class="control-label">OrderId</label>
          </div>
          <div class="col-2">
            <label for="orderCreater" class="control-label">Order Creater</label>
          </div>
        </div>
      </div>
      <div class="col-12" style="margin-top: 5px">
        <div class="row">
          <div class="col-2">
            <div class="form-group">
              <input class="form-control" name="startdate" id="inputStartDate" placeholder="Enter Start Date" style="width:90%">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <input class="form-control" name="enddate" id="inputEndDate" placeholder="Enter End Date" style="width:90%">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <input class="form-control" name="orderId" id="orderId" placeholder="Enter OrderId" style="width:90%">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <input class="form-control" name="orderCreater" id="orderCreater" placeholder="Enter Order Creater" style="width:90%">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
             <button type="button" class="btn btn-outline-info" id="search-order">Search</button>
             &nbsp;&nbsp;
             <button type="button" class="btn btn-outline-primary" id="show-add-order-modal">Add</button>
           </div>
         </div>
       </div>
     </div>
   </form>

 </div>


 <!-- Blank Row -->
 <div class="row">
  &nbsp;
</div>
<div class="row">

  <!-- Table -->
  <div class="col-12">
    <table class="table table-striped" id="order-table">
      <thead>
        <tr>
          <th scope="col">OrderId</th>
          <th scope="col">Order Creater</th>
          <th scope="col">DateTime</th>
          <th scope="col">Bill Amount</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </div>
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>

<!-- Add Order Model -->
<div 
class="modal fade" tabindex="-1" role="dialog" id="add-order-modal">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add Order</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Order add form -->

    <div class="modal-body">
      <div class="row">
       <input type="hidden" id="totalItems" name="totalItems" value="0">
     </div>
     <form  class="form-inline" id="order-add-form" autocomplete="off">
      <div class="row">
        <div class="col" style="margin:10px;">
          <div class="form-group">
            <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="Enter Barcode" pattern="[a-z0-9]{8}" maxLength=8 style="margin-left: 10px">
            </div>
          </div>
        </div>
        <div class="col" style="margin:10px;">
          <div class="form-group">
            <label for="inputQuantity" class="col-sm-2 col-form-label" style="margin-left: 10px">Quantity</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" name="quantity" id="inputQuantity" placeholder="Enter Quantity" readonly style="margin-left: 10px">
            </div>
          </div>
        </div>
        <div class="col">
        </div>
        <div class="w-100"></div>
      </div>
      <div class="row">
        <div class="col" style="margin:10px;">
          <div class="form-group">
            <label for="inputName" class="col-sm-2 col-form-label" >Name</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="name" id="inputName" readonly style="margin-left: 10px">
            </div>
          </div>
        </div>
        <div class="col" style="margin:10px;">
          <div class="form-group">
            <label for="inputMrp" class="col-sm-2 col-form-label" style="margin-left: 10px">MRP</label>
            <div class="col-sm-6">
             <input type="number" step="0.01" class="form-control" name="mrp" id="inputMrp" readonly style="margin-left: 10px">
           </div>
         </div>
       </div>
       <div class="col" style="margin:10px;">
        <button type="button" class="btn btn-outline-primary" id="add-item-button" style="margin-left: 20px">Add Item</button>
      </div>
    </div>
  </form>


  <!-- Blank Row -->
  <div class="row">
    &nbsp;
  </div>
  <div class="row justify-content-center" id="availableInventoryRow" style="display:none">
    <b>Available Inventory :</b>&nbsp;<span style="color: red" id="availableQuantity"></span>
  </div>
  <!-- Blank Row -->
  <div class="row">
    &nbsp;
  </div>
  <div class="row">

    <!-- Table -->
    <div class="col-12">
      <table class="table table-striped" id="customer-order-table">
        <thead>
          <tr>
            <th scope="col">Barcode</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Selling Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

    </div>
  </div>
  <!-- Blank Row -->
  <div class="row">
    &nbsp;
  </div>
  <!-- Blank Row -->
  <div class="row">
    &nbsp;
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  <button type="button" class="btn btn-success" id="create-order">Create Order</button>
</div>

</div>
</div>
</div>


<!-- Edit Order Model -->
<div 
class="modal fade" tabindex="-1" role="dialog" id="edit-order-modal">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Edit Order</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Order add form -->

    <div class="modal-body">
      <div class="row">
       <input type="hidden" id="totalItemsEdit" name="totalItemsEdit" value="0">
     </div>
     <form  class="form-inline" id="order-edit-form" autocomplete="off">
      <div class="row">
        <div class="col" style="margin:10px;">
          <div class="form-group">
            <label for="inputBarcodeEditOrder" class="col-sm-2 col-form-label">Barcode</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="barcode" id="inputBarcodeEditOrder" placeholder="Enter Barcode" pattern="[a-z0-9]{8}" maxLength=8 style="margin-left: 10px">
            </div>
          </div>
        </div>
        <div class="col" style="margin:10px;">
          <div class="form-group">
            <label for="inputQuantityEditOrder" class="col-sm-2 col-form-label" style="margin-left: 10px">Quantity</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" name="quantity" id="inputQuantityEditOrder" placeholder="Enter Quantity" readonly style="margin-left: 10px">
            </div>
          </div>
        </div>
        <div class="col">
        </div>
        <div class="w-100"></div>
      </div>
      <div class="row">
        <div class="col" style="margin:10px;">
          <div class="form-group">
            <label for="inputNameEditOrder" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="name" id="inputNameEditOrder" readonly style="margin-left: 10px">
            </div>
          </div>
        </div>
        <div class="col" style="margin:10px;">
          <div class="form-group">
            <label for="inputMrpEditOrder" class="col-sm-2 col-form-label" style="margin-left: 10px">MRP</label>
            <div class="col-sm-6">
             <input type="number" step="0.01" class="form-control" name="mrp" id="inputMrpEditOrder" readonly style="margin-left: 10px">
           </div>
         </div>
       </div>
       <!-- Hidden id -->
       <input type="hidden" name="id" >

       <div class="col" style="margin:10px;">
        <button type="button" class="btn btn-outline-primary" id="add-item-button-edit" style="margin-left: 20px">Add Item</button>
      </div>
    </div>
  </form>


  <!-- Blank Row -->
  <div class="row">
    &nbsp;
  </div>
  <div class="row justify-content-center" id="availableInventoryRowEditOrder" style="display:none">
    <b>Available Inventory :</b>&nbsp;<span style="color: red" id="availableQuantityEditOrder"></span>
  </div>
  <!-- Blank Row -->
  <div class="row">
    &nbsp;
  </div>
  <div class="row">

    <!-- Table -->
    <div class="col-12">
      <table class="table table-striped" id="customer-order-edit-table">
        <thead>
          <tr>
            <th scope="col">Barcode</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Selling Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

    </div>
  </div>
  <!-- Blank Row -->
  <div class="row">
    &nbsp;
  </div>
  <!-- Blank Row -->
  <div class="row">
    &nbsp;
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  <button type="button" class="btn btn-success" id="update-order">Update Order</button>
</div>

</div>
</div>
</div>


<!-- View Order Modal -->
<div 
class="modal fade" tabindex="-1" role="dialog" id="view-order-modal">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">View Order</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Order add form -->

    <div class="modal-body">
     <!-- Blank Row -->
     <div class="row">
      &nbsp;
    </div>
    <div class="row">

      <!-- Table -->
      <div class="col-12">
        <table class="table table-striped" id="view-order-table">
          <thead>
            <tr>
              <th scope="col">Barcode</th>
              <th scope="col">Product Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Selling Price</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>

      </div>
    </div>
    <!-- Blank Row -->
    <div class="row">
      &nbsp;
    </div>
    <!-- Blank Row -->
    <div class="row">
      &nbsp;
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  </div>

</div>
</div>
</div>

</div>


<!-- Sales Report fragment -->
<div th:fragment="name_salesreport" id="salesreport">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: white;padding-left: 0px;padding-bottom: 10px;margin-bottom: 5px;font-size:20px">
      <li class="breadcrumb-item">Reports</a></li>
      <li class="breadcrumb-item active" aria-current="page">Sales Report</li>
    </ol>
  </nav>

  <!-- Top row with form-->
  <div class="row">
    <!-- Sales Report form -->
    <form class="form-inline w-100" id="salesreport-form" autocomplete="off">
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            <label for="inputStartDate" class="control-label">Start Date</label>
          </div>
          <div class="col-2">
            <label for="inputEndDate" class="control-label">End Date</label>
          </div>
          <div class="col-2">
            <label for="inputBrand" class="control-label">Brand</label>
          </div>
          <div class="col-2">
            <label for="inputCategory" class="control-label">Category</label>
          </div>
        </div>
      </div>
      <div class="col-12" style="margin-top: 5px">
        <div class="row">
          <div class="col-2">
            <div class="form-group">
              <input class="form-control" name="startdate" id="inputStartDate" placeholder="Enter Start Date" style="width:90%">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <input class="form-control" name="enddate" id="inputEndDate" placeholder="Enter End Date" style="width:90%">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <input class="form-control" name="brand" id="inputBrand" placeholder="Enter Brand" style="width:90%">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <input type="text" class="form-control" name="category" placeholder="Enter Category" style="width:90%">
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
             <button type="submit" class="btn btn-outline-primary" id="submit-salesreport-data">Get Report</button>
             &nbsp;&nbsp;
             <button type="button" class="btn btn-outline-success" id="download-salesreport">Download</button>
           </div>
         </div>
       </div>
     </div>
   </form>

 </div>








 <!-- Blank Row -->
 <div class="row">
  &nbsp;
</div>
<div class="row">

  <!-- Table -->
  <div class="col-12" id="salesreport-div">
    <table class="table table-striped" id="salesreport-table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Category</th>
          <th scope="col">Quantity</th>
          <th scope="col">Revenue</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </div>
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>

</div>

<!-- Brand Report fragment -->
<div th:fragment="name_brandreport" id="brandreport">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: white;padding-left: 0px;padding-bottom: 10px;margin-bottom: 5px;font-size:20px">
      <li class="breadcrumb-item">Reports</a></li>
      <li class="breadcrumb-item active" aria-current="page">Brand Report</li>
    </ol>
  </nav>
  <!-- Top row with form-->
  <div class="row">
    <!-- BrandReport form -->
    <form class="form-inline w-100" id="brandreport-form" autocomplete="off">
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            <label for="inputBrand" class="control-label">Brand</label>
          </div>
          <div class="col-2">
            <label for="inputCategory" class="control-label">Category</label>
          </div>
        </div>
      </div>
      <div class="col-12" style="margin-top: 5px">
        <div class="row">
          <div class="col-2">
            <div class="form-group">
              <input type="text" class="form-control" name="brand" id="inputBrand" placeholder="Enter Brand" style="width:90%">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <input type="text" class="form-control" name="category" id="inputCategory" placeholder="Enter Category" style="width:90%">
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
             <button type="button" class="btn btn-outline-info" id="search-brandreport">Get Report</button>
             &nbsp;&nbsp;
             <button type="button" class="btn btn-outline-success" id="download-brandreport">Download</button>
           </div>
         </div>
       </div>
     </div>
   </form>

 </div> 

 <!-- Blank Row -->
 <div class="row">
  &nbsp;
</div>
<div class="row">

  <!-- Table -->
  <div class="col-12" id="brandreport-div">
    <table class="table table-striped" id="brandreport-table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Brand</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </div>
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>

</div>

<!-- Inventory Report fragment -->
<div th:fragment="name_inventoryreport" id="inventoryreport">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: white;padding-left: 0px;padding-bottom: 10px;margin-bottom: 5px;font-size:20px">
      <li class="breadcrumb-item">Reports</a></li>
      <li class="breadcrumb-item active" aria-current="page">Inventory Report</li>
    </ol>
  </nav>
  <!-- Top row with form-->
  <div class="row">
    <!-- InventoryReport form -->
    <form class="form-inline w-100" id="inventoryreport-form" autocomplete="off">
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            <label for="inputBrand" class="control-label">Brand</label>
          </div>
          <div class="col-2">
            <label for="inputCategory" class="control-label">Category</label>
          </div>
        </div>
      </div>
      <div class="col-12" style="margin-top: 5px">
        <div class="row">
          <div class="col-2">
            <div class="form-group">
              <input type="text" class="form-control" name="brand" id="inputBrand" placeholder="Enter Brand" style="width:90%">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <input type="text" class="form-control" name="category" id="inputCategory" placeholder="Enter Category" style="width:90%">
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
             <button type="button" class="btn btn-outline-info" id="search-inventoryreport">Get Report</button>
             &nbsp;&nbsp;
             <button type="button" class="btn btn-outline-success" id="download-inventoryreport">Download</button>
           </div>
         </div>
       </div>
     </div>
   </form>

 </div>  


 <!-- Blank Row -->
 <div class="row">
  &nbsp;
</div>
<div class="row">

  <!-- Table -->
  <div class="col-12" id="inventoryreport-div">
    <table class="table table-striped" id="inventoryreport-table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Brand</th>
          <th scope="col">Category</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </div>
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>
<!-- Blank Row -->
<div class="row">
  &nbsp;
</div>

</div>




<!-- Footer fragment -->
<footer class="footer  mt-1" th:fragment="name_footer">
  Copyright Increff 2020
  &nbsp;
  <!-- JS files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
  <script th:src="@{/static/app.js}"/></script>
  <script th:src="@{/static/papaparse.min.js}"/></script>
  <script th:src="@{/static/notify.js}"></script>
</footer>


